version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: leads-mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: leads-db
    volumes:
      - mongodb_data:/data/db
    networks:
      - leads-network

volumes:
  mongodb_data:
    driver: local

networks:
  leads-network:
    driver: bridge
